{% extends '../_admin/layouts/base_admin.html' %}

{% block title%}Membres{% endblock%}

{% block content %}

    <div class="mt-4">
        <a href="{% url 'new_member' %}" class="btn btn-info">Ajouter nouveau Membre</a>
    </div>
    {% if members %}        
        <table class="table" style="margin-top:50px">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Cellule</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <th scope="row">{{ member.id }}</th>
                        <td><a href="detail/{{member.id}}/">{{member.first_name}}</a></td>
                        <td><a href="detail/{{member.id}}/">{{member.last_name}}</a></td>
                        <td><a href="detail/{{member.id}}/">{{member.phone_number1}}</a></td>
                        <td><a href="detail/{{member.id}}/">{{member.email}}</a></td>
                        <td>{{member.cell_member}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1> Aucun membre a afficher</h1>
    {% endif %}
{% endblock content %}