{% extends '../../_admin/layouts/base_admin.html' %}
{% block title %}
    supprimer membre
{% endblock %}

{% block content %}
<div class="row mt-4" >
    <div class="col-md-6 m-auto">
        <div class="card car-body">
            <div class="m-auto mb-4 mt-4">
                <h2>Supprimer une Cellule</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="alert alert-danger m-4" role="alert">
                    Estes vous sure de vouloire supprimer la cellule<br> <strong>{{cell.cell_label}} ? </strong>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-danger mb-2 ml-2">OUI</button>
                    <a href="{% url 'home_cell' %}" class="btn btn-info mb-2">NON</a> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    
    