{% extends '../../_admin/layouts/base_admin.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{cell.cell_label}}</li>
                    <li class="list-group-item">{{cell.cell_addr}}</li>
                    <li class="list-group-item">{{cell.cell_link_map}}</li>
                </ul>
            </div>
            <div class="mt-4">
                <a href="{% url 'edit_cell' cell.id %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'delete_cell' cell.id %}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}
